{% extends "bootstrap_5_layout.html" %}
{% set page_title = "Movies Page" %}
{% set active_page = "movies" %}

{% block content %}

    <h1 style="text-align:center">All-Time Greatest Movies</h1>

    <p class="lead">This table contains a limited, and perhaps subjective, list of the all-time greatest movies.</p>
    <p class="d-inline-flex gap-1">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#movieTable" aria-expanded="false" aria-controls="movieTable">
          View as a table
        </button>
      </p>
      <div class="collapse" id="movieTable">
        <div class="card card-body">
        <table style="width:100%">
            <tr style="background:grey; color:white; font-size:1.1em">
                <th style="width:45%">Title</th>
                <th style="width:20%">Year of Release</th>
                <th style="width:35%">Director</th>
            </tr>
                {% for movie in movies %}
                    <tr style="border-bottom:2px dashed grey"><td style="width:25%; padding:.5em 0em .5em 0em">{{ movie.title }}</td><td style="width:25%; padding:.5em 0em .5em 0em">{{ movie.year }}</td><td style="width:25%; padding:.5em 0em .5em 0em">{{ movie.director }}</td></tr>
                {% endfor %}
        </table>
        </div>
      </div>
    {% if movies|length > 0 %}
<div class="row">
    {% for movie in movies %}
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
        <div class="card h-100" style="width: 100%; margin-bottom:1em">
            <img src="{{ movie.image }}" class="card-img-top" alt="The movie poster of '{{ movie.title }}'">
            <div class="card-body">
              <h5 class="card-title">{{ movie.title }}</h5>
              <p class="card-text">Year of Release: {{ movie.year }}<br/>Director: {{ movie.director }}</p>
            </div>
          </div>
    </div>
{% endfor %}

</div>

    {% else %}

        <p>Oops, no movies found.</p>

    {% endif %}

{% endblock %}